<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.owitho.sso.mapper.DataGroupMapper" >
  <resultMap id="BaseResultMap" type="com.owitho.sso.model.DataGroupPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="data_code" property="dataCode" jdbcType="VARCHAR" />
    <result column="data_name" property="dataName" jdbcType="VARCHAR" />
    <result column="data_desc" property="dataDesc" jdbcType="VARCHAR" />
    <result column="system_id" property="systemId" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.owitho.sso.model.DataGroupVo" >
  <id column="id" property="id" jdbcType="INTEGER" />
  <result column="data_code" property="dataCode" jdbcType="VARCHAR" />
  <result column="data_name" property="dataName" jdbcType="VARCHAR" />
  <result column="data_desc" property="dataDesc" jdbcType="VARCHAR" />
  <result column="system_id" property="systemId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, data_code, data_name,data_desc, system_id,create_by, create_time, update_by, update_time
  </sql>

  <select id="getDataGroupById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sso_data_group
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getDataGroupBySystemId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from sso_data_group
    where system_id = #{systemId,jdbcType=INTEGER}
  </select>

  <delete id="deleteDataGroupById">
    delete from sso_data_group
    where id = #{id} AND system_id = #{systemId}
  </delete>

  <insert id="addDataGroup" parameterType="com.owitho.sso.model.DataGroupPo" >
    insert into sso_data_group (id, data_code,data_name, data_desc, system_id,
      create_by, create_time, update_by,  update_time)
    values (#{id,jdbcType=INTEGER},#{dataCode,jdbcType=VARCHAR},#{dataName,jdbcType=VARCHAR},
    #{dataDesc,jdbcType=VARCHAR},#{systemId,jdbcType=INTEGER},#{createBy,jdbcType=INTEGER},
    now(), #{updateBy,jdbcType=INTEGER},now())
  </insert>

  <update id="updateDataGroup" parameterType="com.owitho.sso.model.DataGroupPo" >
    update sso_data_group
    <set >
      <if test="dataCode != null" >
        data_code = #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="dataName != null" >
        data_name = #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="dataDesc != null" >
        data_desc = #{dataDesc,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null" >
        system_id = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
        update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="addUserDateRel">
    INSERT INTO
      sso_user_data_rel (id,data_group_id,user_id,create_by,create_time,update_by,update_time)
      VALUES
      <foreach collection="list" item="rel" separator=",">
        (#{rel.id},#{rel.dataGroupId},#{rel.userId},#{rel.createBy},now(),#{rel.updateBy},now())
      </foreach>

  </insert>

  <!--<delete id="deleteUserDataRel">
    DELETE FROM rel USING sso_user_data_rel rel,sso_data_group gro WHERE rel.data_group_id = gro.id
    AND gro.system_id = #{systemId} AND rel.user_id = #{userId}
  </delete>-->

  <select id="getDataByUserIdAndSystemId" resultMap="BaseResultMap">
    select gro.* FROM sso_data_group gro INNER JOIN sso_user_data_rel rel ON gro.id = rel.data_group_id
    WHERE rel.user_id = #{userId} AND gro.system_id = #{systemId}
  </select>

  <select id="getDataGroupByCode" resultMap="BaseResultMap">
    SELECT * FROM sso_data_group WHERE data_code = #{dataCode} AND system_id = #{systemId}
  </select>

  <select id="getUserIdByData" parameterType="int" resultType="int">
    SELECT rel.user_id FROM sso_data_group d INNER JOIN sso_user_data_rel rel ON d.id = rel.data_group_id
    WHERE d.id = #{dataId}
  </select>

  <insert id="addUserDataRel" parameterType="com.owitho.sso.model.UserDataRelPo">
     INSERT INTO
      sso_user_data_rel (id,data_group_id,user_id,create_by,create_time,update_by,update_time)
      VALUES (#{id},#{dataGroupId},#{userId},#{createBy},now(),#{updateBy},now())
  </insert>

  <delete id="deleteUserDataRel">
    DELETE FROM  sso_user_data_rel WHERE data_group_id = #{dataId} AND user_id = #{userId}
  </delete>

  <delete id="deleteUserAllData">
    DELETE FROM  sso_user_data_rel WHERE user_id = #{userId}
  </delete>

    <delete id="deletUserAllDataBySystem">
        DELETE FROM  rel USING sso_user_data_rel rel,sso_data_group d WHERE rel.data_group_id = d.id
        AND d.system_id = #{systemId} AND rel.user_id = #{userId}
    </delete>

  <select id="checkUserDataRel" resultType="com.owitho.sso.model.UserDataRelPo">
    SELECT * FROM sso_user_data_rel WHERE data_group_id = #{dataId} AND user_id = #{userId}
  </select>

  <select id="getAll" resultMap="VoResultMap">
    SELECT id, data_code, data_name,data_desc, system_id FROM sso_data_group
  </select>

  <select id="getNoPermDataByUserAndSystem" resultMap="VoResultMap">
   SELECT d.* FROM sso_data_group d
     LEFT JOIN sso_user_data_rel rel ON rel.data_group_id = d.id
     WHERE d.system_id = #{systemId} GROUP BY d.id  HAVING d.id not in(SELECT data_group_id FROM sso_user_data_rel WHERE user_id = #{userId})
  </select>
</mapper>