<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.owitho.sso.mapper.PermTreeMapper">

    <sql id="SelectSql">
        SELECT
        `id`, `parent_id` parentId, `name`,`desc`,`type`,
        create_by createBy, create_time createTime,
        update_by updateBy, update_time updateTime
        FROM sso_perm_tree
    </sql>

    <insert id="insert">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sso_perm_tree (`parent_id`,`name`,`desc`,`type`, create_by)
        values (#{parentId}, #{name}, #{desc}, #{type}, #{createBy})
    </insert>

    <update id="update" parameterType="com.owitho.sso.model.PermTreeInfo">
        update sso_perm_tree
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                `desc` = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            update_time = now()
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getPermTreeInfosByParentId" resultType="com.owitho.sso.model.PermTreeInfo">
        <include refid="SelectSql"/>
        where `parent_id` = #{parentId}
        ORDER by create_time DESC
    </select>

    <select id="getPermTreeInfoById" resultType="com.owitho.sso.model.PermTreeInfo">
        <include refid="SelectSql"/>
        where `id` = #{id}
    </select>

    <select id="getPermTreeIdByPermIdList" resultType="java.lang.Integer">
        select  `tree_id` from sso_permission
        where id in
        <foreach collection="permIds" item="permId" index="index"
                 open="(" close=")" separator=",">
            #{permId}
        </foreach>
    </select>

    <select id="findAll" resultType="com.owitho.sso.model.PermTreeInfo">
        <include refid="SelectSql"/>
        ORDER by create_time DESC
    </select>




</mapper>